@use "./maincards";
@use "./mixins";
@use "./variables";
/* ===================================== 
        ------Footer------
======================================== */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: footer;
    margin-top: 20px;

.footerBtn {
    @include mixins.btnStyles();
    margin-top: 40px;
}
q {
    color: black;
    font-size: 20px;
}
}

/* ===================================== 
        ------/Footer------
======================================== */