@use "./variables";
@mixin btnStyles () {
    border: none;
    border-radius: 16px;
    padding: 6px 10px;
    background-color: variables.$siteThemeColor;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}