@use "./mixins";
@use "./variables";

/* ===================================== 
        ------Navigation------
======================================== */
        
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: 10px 5px ;
h2{
    color: variables.$h2Color;
    text-shadow: 2px 2px variables.$siteThemeColor ;
}
    .loginBtn {
        @include mixins.btnStyles();  
    }
}
/* ===================================== 
        ------/Navigation------
======================================== */